{% extends "layout.twig" %}
{% form_theme form 'forms/resto-form.twig' %}


{% block template %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col s6">
            <h5 class="grey-text">Récapitulatif commande</h5>
            <table class="bordered striped">
                <thead>
                <tr>
                    <th>Plat</th>
                    <th class="center-align">Prix</th>
                    <th class="center-align">Quantité</th>
                    <th class="center-align">Total</th>
                </tr>
                </thead>
                {% for item in meals %}
                    {% set meal = item.meal %}
                    <tr>
                        <td>{{ meal.getName() }}</td>
                        <td class="center-align">{{ item.price|number_format(2) }} €</td>
                        <td class="center-align">{{ item.quantity }}</td>
                        <td class="center-align">{{ (item.price *  item.quantity)|number_format(2) }} €</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="row">
                <div class="col s6 offset-s6 ">
                    <table class="bordered right-align">
                        <tr>
                            <td class="right-align"><strong>Total HT</strong></td>
                            <td class="right-align table-col-price">{{ total|number_format(2) }}€</td>
                        </tr>
                        <tr>
                            <td class="right-align"><strong>TVA 20%</strong></td>
                            <td class="right-align table-col-price">{{  tax|number_format(2)  }}€</td>
                        </tr>
                        <tr>
                            <td class="right-align"><strong>Total TTC</strong></td>
                            <td class="right-align table-col-price">{{  (total + tax)|number_format(2)  }}€</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s6">
            <form class="col s12" action="{{ url("order") }}" method="POST">
                <div class="row">
                    <fieldset>
                        <legend>Coordonnées</legend>
                        <div class="col s12">

                            <div class="row">
                                <div class="input-field col s6">
                                    {{ form_row(form.firstname) }}
                                </div>
                                <div class="input-field col s6">
                                    {{ form_row(form.lastname) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    {{ form_row(form.address) }}
                                </div>
                                <div class="input-field col s6">
                                    {{ form_row(form.address_add) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s3">
                                    {{ form_row(form.zip) }}
                                </div>
                                <div class="input-field col s9">
                                    {{ form_row(form.city) }}
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset>
                        <legend>Création de compte</legend>
                        <div class="col s12">

                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    {{ form_row(form.password) }}
                                </div>
                                <div class="input-field col s6">
                                    {{ form_row(form.password_confirm) }}
                                </div>
                            </div>


                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="col s12 right-align">
                        <button type="submit" class="btn-large red waves-effect waves-light">Payer</button>
                    </div>
                </div>
            </form>
            </fieldset>
        </div>
    </div>



{% endblock %}