{% extends 'layout.twig' %}
{% block template %}
    <h4 class="center-align">Merci, votre paiement a bien été pris en compte</h4>
    <p class="center-align">Votre commande sera livrée dans 30 minutes environ.</p>
    <p class="center-align">
        <img src="{{ asset("delivery.jpg", "images") }}">
    </p>
{% endblock %}